<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>

      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.GetMemoFieldValue, Sitecore.Kernel" set:type="Sitecore.Support.Pipelines.RenderField.GetMemoFieldValue, Sitecore.Support.77381.93260.101295.103584.106803" />
      </renderField>

      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly>/bin/Sitecore.Support.77381.93260.101295.103584.106803.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>

    <processors>
      <uiReturnFieldEditorValues>
        <processor mode="on" type="Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues">
          <patch:attribute name="type">Sitecore.Support.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues, Sitecore.Support.77381.93260.101295.103584.106803</patch:attribute>
        </processor>
      </uiReturnFieldEditorValues>
    </processors>

    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Save.CallServerSavePipeline" type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CallServerSavePipeline, Sitecore.ExperienceEditor.Speak.Ribbon">
        <patch:attribute name="type">Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CallServerSavePipeline, Sitecore.Support.77381.93260.101295.103584.106803</patch:attribute>
      </request>

    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>